@{
    ViewData["Title"] = "Welcome";
}

<div class="welcome-content-container">
    <div class="welcome-subtext">Explore our generater of human-readable tags that describe the content of an image</div>
</div>